{% extends "base.html" %} 

{% block body %}
<div class="jumbotron">
    <h1 style="padding-bottom:25px;padding-left:50px">WELCOME TO MY BLOG!!!</h1>
</div>

<div class="container">
    <br>

    {% for blog in blogs %}
    <div style="width: 60%">
        <h2><a href="/blog/{{blog.key().id()}}">{{blog.title}}</a></h2>
        <div style="margin-left: 40px; font-style: italic">Created: {{blog.created_time.strftime('%d, %b %Y')}}</div>
        <div style="margin-left: 40px; font-style: italic">Last modified: {{blog.last_modified.strftime('%d, %b %Y')}}</div>
        <p>{{blog.get_description()}}</p>
    </div>
    <hr>
    {% endfor %}

    <br><br><br>
    <button class="btn btn-success" onclick="window.location='/blog/newpost'">New Blog</button>

</div>
{% endblock %}
