{% extends "base.html" %}

{% block title %}
<title>Enigma Simulator</title>
{% endblock %}

{% block body %}
<h2>Enigma Simulator</h2>

<p style="color:red">{{error}}</p>

<form method="post">
    <!--wheels-->
    {% for i in [1, 2, 3, 4] %}
    <label>Wheel {{i}}</label>
    <select name="w{{i}}">
        {% for num in ["I", "II", "III", "IV", "V", "VI", "VII", "VIII"] %}
        <option value="{{num}}" {% if w and w[i] == num %} selected {% endif %}>{{num}}</option>
        {% endfor %}
    </select>
    {% endfor %}
    <br>

    <!--reflect wheel-->
    <label>Reflect wheel</label>
    <select name="rw">
        <option value="B" {% if rw and rw == "B" %} selected {% endif %}>B</option>
        <option value="C" {% if rw and rw == "C" %} selected {% endif %}>C</option>
    </select>
    <br>

    <!--positions-->
    {% for i in [1, 2, 3, 4] %}
    <label>Poss {{i}}</label>
    <select name="p{{i}}">
        {% for c in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
        <option value="{{c}}" {% if p and p[i] == c %} selected {% endif %}>{{c}}</option>
        {% endfor %}
    </select>
    {% endfor %}
    <br>

    <!--plug board-->
    <input type="hidden" name="pb" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ">

    <label>Enter text:</label>
    <textarea name="text" rows=10 cols=120>{{text}}</textarea>
    <br><br>
    <input type="submit">
</form>
{% endblock %}
