{% extends "base.html" %}

{% block body %}

<div class="jumbotron">
    <h1 style="padding-bottom: 10px; padding-left: 50px">Enigma Simulator</h1>
    <div class="badge" style="margin-left:50px;background-color:green">Ausführung 1.1</div>
</div>

<div class="container" align="center">
    <!------ Error ------->
    {% if error %}
    <br><br>

    <div class="alert alert-danger" style="width: 700px; text-align: left">
        <img src="/static/image/error.png" height="55px">
        <strong style="font-size:150%;margin-left: 20px">ERROR!</strong>
        <span style="font-size:150%;margin-left: 30px">{{error}}</span>
    </div>
    {% endif %}

    <form method="post">
        <div class="panel panel-primary" style="margin-top: 50px;width: 700px">
            <div class="panel-heading" title="Settings"><h4><strong>EINSTELLUNGEN</strong></h4></div>
            <table style="margin-top: 25px">
                <!--------------  reflect wheel  ------------------>
                <tr>
                    <td style="text-align: right;padding-right: 20px" title="Reflector wheel"><strong>Umkehrwalze</strong></td>
                    <td>
                        <select name="rw" style="width:155px;margin:5px;text-align:center">
                            <option value="B" {% if rw == "B" %} selected {% endif %}>--- B ---</option>
                            <option value="C" {% if rw == "C" %} selected {% endif %}>--- C ---</option>
                        </select>
                    </td>
                </tr>

                <!------------- wheels ---------------->
                <tr>
                    <td style="text-align: right;padding-right: 20px" title="Wheel order"><strong>Walzenlage</strong></td>
                    <td>
                        {% for i in [1, 2, 3, 4] %}
                        <select name="w{{i}}" style="width:70px;margin:5px" onchange="checkWheels()">
                            {% for num in ["I", "II", "III", "IV", "V", "VI", "VII", "VIII"] %}
                            <option value="{{num}}" {% if w[i]== num %} selected {% endif %}>{{num}}</option>
                            {% endfor %}
                        </select>
                        {% endfor %}
                    </td>
                </tr>

                <!-------- positions ---------------->
                <tr>
                    <td style="text-align: right;padding-right: 20px" title="Ring setting"><strong>Ringstellung</strong></td>
                    <td>
                        {% for i in [1, 2, 3, 4] %}
                        <select name="p{{i}}" style="width:70px;margin:5px">
                            {% for c in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                            <option value="{{c}}" {% if p[i] == c %} selected {% endif %}>{{c}}</option>
                            {% endfor %}
                        </select>
                        {% endfor %}
                    </td>
                </tr>
            </table>


            <!---------------------plug board---------------------------->
            <div style="margin-top: 25px; width: 650px">
                <table style="margin: 15px;">
                    <tr>
                        <th colspan="13" style="text-align: center" title="PLug board">Steckerbrett</th>
                    </tr>
                    <tr>
                        {% for c in "ABCDEFGHIJKLM" %}
                        <td style="text-align: center" width="50px" height="75px">
                            <div><strong>{{c}}</strong></div>
                            <input name="{{c}}" size="1" maxlength="1" value="{{pb.get(c, '')}}" type="text"
                                   style="text-align: center" onkeydown="saveOldValue(this)" onkeyup="updateValue(this)">
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for c in "NOPQRSTUVWXYZ" %}
                        <td style="text-align: center" width="50px" height="75px">
                            <div><strong>{{c}}</strong></div>
                            <input name="{{c}}" size="1" maxlength="1" value="{{pb.get(c, '')}}" type="text"
                                   style="text-align: center" onkeydown="saveOldValue(this)" onkeyup="updateValue(this)">
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <!------------------------ Random --------------------->
            <br><br>
            <input type="button" onclick="randomizeSetting()" value="RANDOMISIEREN" class="btn btn-warning" style="text-align:center;width:200px;margin-bottom:25px" title="Randomize">

        </div>


        <!---------------------------------Enter text ----------------------------->
        <!--<div class="panel panel-primary" style="text-align: center; margin-top: 50px">-->
        <div class="panel panel-primary" style="margin-top: 50px;width: 700px">
            <div class="panel-heading" title="Plain text / Cipher text"><h4><strong>KLARTEXT / GEHEIMTEXT</strong></h4></div>
            <textarea style="border: none; margin: 20px; font-family: 'Courier New', Courier, monospace;font-size: large" name="text" cols="50" rows="8" placeholder="Hier Text eingeben">{{text}}</textarea>
            <div style="margin: 20px; text-align: right">
                <input type="button" onclick="clearText()" class="btn btn-info" value="Alles löschen" title="Clear all">
                <input type="button" onclick="copyText()" class="btn btn-info" value="Kopieren" title="Copy">
            </div>
        </div>

        <!---------------------------- option -------------------------------->
        <div style="margin-top: 40px; margin-bottom: 40px; margin-left: 25%; text-align: left">
            <!--<label style="padding-right: 25px" title="After encryption/decryption">Nach dem Verschlüsseln/Entschlüsseln:</label>-->
            <!--<input type="radio" name="reset" value="true" {% if rs %} checked {% endif %}>-->
            <!--<span style="padding-left: 5px; padding-right: 25px" title="Reset">Zurücksetzen</span>-->
            <!--<input type="radio" name="reset" value="false" {% if not rs %} checked {% endif %}>-->
            <!--<span style="padding-left: 5px; padding-right: 25px" title="Keep">Fortsetzen</span>-->
            <input type="checkbox" name="reset" value="true" {% if rs %} checked {% endif %}>
            <span title="Reset setting after encryption/decryption">Setzen die Einstellungen nach der Verschlüsselung / Entschlüsselung zurück</span>
            <br><br>
            <input type="checkbox" name="textformat" value="true" {% if tf %} checked {% endif %}>
            <span title="Keep text format">Behalten das Textformat</span>
        </div>

        <input type="submit" value="EINREICHEN" class="btn btn-success" style="text-align:center;font-size:120%;width:200px" title="Submit">
    </form>

    <script src="{{__host__}}/static/js/enigma.js"></script>
</div>
{% endblock %}
