{% extends "base.html" %}

{% block body %}
<h2>Enigma Simulator</h2>

<p style="color:red">{{error}}</p>

<form method="post">
    <!--wheels-->
    {% for i in [1, 2, 3, 4] %}
    <label>Wheel {{i}}</label>
    <select name="w{{i}}" onchange="checkWheels()">
        {% for num in ["I", "II", "III", "IV", "V", "VI", "VII", "VIII"] %}
        <option value="{{num}}" {% if w[i]== num %} selected {% endif %}>{{num}}</option>
        {% endfor %}
    </select>
    {% endfor %}
    <br>

    <!--reflect wheel-->
    <label>Reflect wheel</label>
    <select name="rw">
        <option value="B" {% if rw== "B" %} selected {% endif %}>B</option>
        <option value="C" {% if rw== "C" %} selected {% endif %}>C</option>
    </select>
    <br>

    <!--positions-->
    {% for i in [1, 2, 3, 4] %}
    <label>Pos {{i}}</label>
    <select name="p{{i}}">
        {% for c in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
        <option value="{{c}}" {% if p[i]== c %} selected {% endif %}>{{c}}</option>
        {% endfor %}
    </select>
    {% endfor %}
    <br>

    <!--plug board-->
    <label>Plug board:</label>
    <br>
    <table>
        <tr>
            {% for c in "ABCDEFGHIJKLM" %}
            <td>
                <label>{{c}}</label>
                <input name="{{c}}" size="3" maxlength="1" value="{{pb[c]}}" type="text"
                       onchange="checkPlugBoard(this)">
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for c in "NOPQRSTUVWXYZ" %}
            <td>
                <label>{{c}}</label>
                <input name="{{c}}" size="3" maxlength="1" value="{{pb[c]}}" type="text"
                       onchange="checkPlugBoard(this)">
            </td>
            {% endfor %}
        </tr>
    </table>

    <label>Enter text:</label>
    <textarea name="text" rows=10 cols=120>{{text}}</textarea>
    <br><br>
    <input type="submit">
</form>

<script src="{{__host__}}/static/js/enigma.js"></script>

{% endblock %}
