{% extends "base.html" %}

{% block body %}

<div class="jumbotron">
    <h1 style="padding-bottom:25px;padding-left:50px">Monthly money calculation</h1>
    <p style="text-align:right;padding-right:30px;font-size:100%;margin-bottom:0"><i>version 1.1</i></p>
</div>

<div class="container">
    <!--------------------------errors-------------------------->
    {% for er in error %}
    <br><br>
    <div class="alert alert-danger">
        <strong>Error!</strong> {{er}}
    </div>
    <br><br>
    {% endfor %}
    <br>

    <!------------------------list all months------------------->
    {% if months %}
    <div class="list-group">
        {% for m in months %}
        <a class="list-group-item" href="/moneyM1522/{{m.key().id()}}">
            {{m.to_string_short()}} ({{m.to_string_long()}})
            {% if m.time_end == None %}
            <span class="badge" style="background-color:green">current month</span>
            {% endif %}
        </a>
        {% endfor %}
    </div>

    <!--------------------------new months------------------->
    {% else %}
    <form method="post" class="alert alert-info" style="width:50%">
        <h4>There are currently no data.</h4>
        <h4> Click below button to add new month</h4>
        <button class="btn btn-success" style="margin-top:15px">New month</button>
    </form>
    {% endif %}
</div>

{% endblock %}