{% extends "base.html" %}

{% block body %}

<div class="jumbotron">
    <h1 style="padding-bottom:25px;padding-left:50px">{{month.time_begin.strftime("%B %Y")}}</h1>
    <p style="padding-left:70px"><i>Start date: {{month.time_begin.strftime("%d/%m/%y")}}</i></p>
    {% if month.time_end %}
    <p style="padding-left:70px"><i>End date : {{month.time_end.strftime("%d/%m/%y")}}</i></p>
    {% endif %}
</div>

<div class="container">
    <!-----------------------links----------------------------->
    <div style="padding:30px; text-align:center">
        {% if month.prev_month %}
        <a href="{{__host__}}/moneyM1522/{{month.prev_month}}">
            <button class="btn btn-warning">PREV</button>
        </a>
        {% else %}
        <button class="btn btn-warning" disabled>PREV</button>
        {% endif %}

        <a href="{{__host__}}/moneyM1522/home">
            <button class="btn btn-warning">HOME</button>
        </a>

        {% if month.next_month %}
        <a href="{{__host__}}/moneyM1522/{{month.next_month}}">
            <button class="btn btn-warning">NEXT</button>
        </a>
        {% else %}
        <button class="btn btn-warning" disabled>NEXT</button>
        {% endif %}
    </div>

    <!--------------------------errors-------------------------->
    {% for er in error %}
    <br>
    <div class="alert alert-danger">
        <strong>Error!</strong> {{er}}
    </div>
    <br><br>
    {% endfor %}
    <br>

    <!--------------------------goods buy in month-------------------------->
    <form method="post" class="panel panel-primary">
        <div class="panel-heading"><h4><strong>Items</strong></h4></div>
        <table class="table table-striped table-bordered table-hover">
            <!------------------------head-------------------------------->
            <thead>
            <tr>
                <th style="text-align:center">Date</th>
                <th style="text-align:center">Buyer</th>
                <th style="text-align:center">What</th>
                <th style="text-align:center">Price (K)</th>
            </tr>
            </thead>

            <!------------------------good buy in month-------------------------------->
            <tbody>
            {% for good in month.get_goods() %}
            <tr>
                <td style="text-align:center">{{good.date.strftime("%d/%m/%y")}}</td>
                <td>{{good.buyer}}</td>
                <td>{{good.what}}</td>
                <td style="text-align:right">{{good.price}}</td>
            </tr>
            {% endfor %}
            </tbody>

            <!------------------------------new good--------------------------------------->
            <tfoot>
            {% if not month.time_end %}
            <tr style="background-color:#94D094">
                <td style="text-align:center; width:13%">
                    <input type="submit" name="action" value="Add" class="btn btn-success" style="text-align:center">
                </td>
                <td><select name="buyer" required class="form-control">
                    <option></option>
                    {% for b in buyers %}
                    <option value={{b.name}}>{{b.name}}</option>
                    {% endfor %}
                </select></td>
                <td><input name="what" required class="form-control" placeholder="Enter what have been bought"></td>
                <td style="width:25%">
                    <input name="price" type="number" min="1" required class="form-control" placeholder="Enter price">
                </td>
            </tr>
            {% endif %}
            </tfoot>
        </table>
    </form>
    <br><br>

    <!--------------------------------end month------------------------------------>
    {% if not month.time_end %}
    <form method="post" class="alert alert-danger" style="padding:30px 20px;font-size:120%"
          onsubmit="return confirm('Do you really want to end this month?');">
        <input type="submit" name="action" value="END MONTH" class="btn btn-danger" style="align:right">
        <strong style="font-size:120%">&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; Warning!</strong>
        <span style="font-size:120%">No data can be added to this month after ending</span>
    </form>
    <br><br><br>
    {% endif %}

    <!-----------------------------summarize------------------------------>
    <div class="panel panel-primary">
        <div class="panel-heading"><h4><strong>Summarize</strong></h4></div>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td>Total spend in month</td>
                <td>{{month.spend}}</td>
            </tr>
            <tr>
                <td>Last month left</td>
                <td>{{month.last_month_left}}</td>
            </tr>
            <tr>
                <td>Money to pay</td>
                <td>{{month.total_money}}</td>
            </tr>
            <tr>
                <td>Average</td>
                <td>{{month.average}}</td>
            </tr>
            <tr>
                <td>Round up</td>
                <td>{{month.roundup}}</td>
            </tr>
            <tr>
                <td>Money left for next month</td>
                <td>{{month.next_month_left}}</td>
            </tr>
        </table>
    </div>
    <br><br><br>

    <!-----------------------------payments------------------------------>
    <div class="panel panel-primary">
        <div class="panel-heading"><h4><strong>Payments</strong></h4></div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Money spend in month</th>
                <th>Payment</th>
            </tr>
            </thead>

            <tbody>
            {% for buyer in buyers %}
            <tr>
                <td>{{buyer.name}}</td>
                <td>{{buyer.money}}</td>
                <td>{{buyer.charge}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="alert alert-info">
        <strong>Note</strong>
        <ul>
            <li>Positive value means pay</li>
            <li>Negative value means get paid back</li>
        </ul>
    </div>
</div>

{% endblock %}