{% extends "base.html" %}

{% block body %}

<h1>Money Month</h1>
<h2>{{month.time_begin.strftime("%B %Y")}}</h2>
<br>
<hr><br>

<p><i>Start date: {{month.time_begin.strftime("%d/%m/%y")}}</i></p>
{% if month.time_end %}
<p><i>End date : {{month.time_end.strftime("%d/%m/%y")}}</i></p>
{% endif %}

<!-----------------------links----------------------------->
<a href="{{__host__}}/moneyM1522/home">Back to money homepage</a>
<br>

{% if month.prev_month %}
<a href="{{__host__}}/moneyM1522/{{month.prev_month}}">Previous month</a>
{% endif %}

{% if month.next_month %}
<a href="{{__host__}}/moneyM1522/{{month.next_month}}">Next month</a>
{% endif %}


<p><i><b>{{error}}</b></i></p>
<br>

<!-----------------------links----------------------------->
<form method="post">
    <table>
        <!--table head-->
        <tr>
            <td>Date</td>
            <td>Buyer</td>
            <td>What</td>
            <td>Price</td>
        </tr>

        <!--goods-->
        {% for good in month.get_goods() %}
        <tr>
            <td>{{good.date.strftime("%d/%m/%y")}}</td>
            <td>{{good.buyer}}</td>
            <td>{{good.what}}</td>
            <td>{{good.price}}K</td>
        </tr>
        {% endfor %}

        <!--new-->
        {% if not month.time_end %}
        <tr>
            <td><input type="submit" name="action" value="Add"></td>
            <td><select name="buyer">
                {% for b in buyers %}
                <option value={{b.name}}>{{b.name}}</option>
                {% endfor %}
            </select></td>
            <td><input name="what"></td>
            <td><input name="price" type="number" min="1"> K</td>
        </tr>
        {% endif %}
    </table>

    <!--end month-->
    {% if not month.time_end %}
    <br>
    <hr>
    <br>
    <input type="submit" name="action" value="End month">
    <p>*All data should be submit before end month.</p>
    {% endif %}
</form>

<!-----------------------------summarize------------------------------>
<br>
<h4>Summarize</h4>
<p>Total spend in month: {{month.spend}}</p>
<p>Last month left : {{month.last_month_left}}</p>
<p>-----------------------------------------------</p>
<p>Money to pay : {{month.total_money}}</p>
<br>
<p>Average : {{month.average}}</p>
<p>Round up: {{month.roundup}}</p>
<p>-----------------------------------------------</p>
<p>Money left for next month: {{month.next_month_left}}</p>
<br>
<table>
    <tr>
        <td>Name</td>
        <td>Money spend in month</td>
        <td>Payment</td>
    </tr>
    {% for buyer in buyers %}
    <tr>
        <td>{{buyer.name}}</td>
        <td>{{buyer.money}}</td>
        <td>{{buyer.charge}}</td>
    </tr>
    {% endfor %}
</table>
<p>*Note: + means pay, - means get back</p>

{% endblock %}