{% extends "base.html" %}


{% block title %}

<title>Sign up</title>

{% endblock %}


{% block body %}

<h1>Sign UP!</h1>
<p>or <a href="{{__host__}}/signin">sign in</a></p>
<form method="POST">
    <table>
        <tr>
            <td>Username:</td>
            <td><input name="username"
                       value="{% if check[0] == 0 %}{{username}}{% endif %}">
            </td>
            {% if check[0] == 1 %}
            <td style="color:red"> Invalid username</td>
            {% elif check[0] == 2 %}
            <td style="color:red"> Username has been taken</td>
            {% endif %}
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="password" type="password"
                       value="{% if check[1] == 0 and check[2] == 0 %}{{password}}{% endif %}">
            </td>
            {% if check[1] != 0 %}
            <td style="color:red">Invalid password</td>
            {% endif %}
        </tr>
        <tr>
            <td>Verify password:</td>
            <td><input name="verify" type="password"
                       value="{% if check[1] == 0 and check[2] == 0 %}{{password}}{% endif %}">
            </td>
            {% if check[2] != 0 %}
            <td style="color:red">Does not match password</td>
            {% endif %}
        </tr>
        <tr>
            <td>Email (optional):</td>
            <td><input name="email"
                       value="{% if check[3] == 0 %}{{email}}{% endif %}">
            </td>
            {% if check[3] != 0 %}
            <td style="color:red"> Invalid email</td>
            {% endif %}
        </tr>
    </table>
    <input type="submit">
</form>

{% endblock %}
